html {
    font-size: 15px; /*base font is 15 pixels high */
    font-family: 'Kalam', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #2B3C78;
    color: #F1FFFA;
    width: 500px;
}
h1 {
    font-size: 60px;
    text-align: center;
}
p,
li {
    font-size 16px;
    line-height: 2;
    letter-spacing: 1px;
}
h3 {
    line-height: 3;
}