html {
    font-size: 15px; /*base font is 15 pixels high */
    font-family: 'Kalam', cursive; /*cursive is the font's fallback value*/
    font-family: 'Montserrat Alternates', sans-serif; /*sans-serif is the font's fallback value*/
    background-color: #2B3C78;
    color: #2B3C78;
    width: max-width;
    background-repeat: no-repeat;
    background-size: cover; /* size of image to cover whole box which incl. padding */
    background-position: center;
    background-attachment: fixed; /*to ensure html element is always covered*/
    background-image: url(../images/pexels-johannes-plenio-1477835.jpg);
}
body {
    width: 80%; /* width 80% of parent body (HTML) */
    margin: 20px auto; /* if "0", no need for units and "auto" splits divides available space by 2*/
    padding: 25px 25px 25px 25px;
    border: 4.5px solid white;
    border-radius: 25px; /*all 4 sides are equal so only need to state the vlaue once*/
    background-color: aliceblue;
}
img {
    width: 100%;
    display: block; /* changing image from inline to block */
    margin: 0 auto; /* only works when image has block-level behaviour */
    border-radius: 25px;
}
h1 {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* for sticky position */
    margin: 0; /* overriding brower's default styling */
    padding: 0;
    width: 100%;
    font-size: 45px;
    color: aliceblue;
    text-align: center;
    text-shadow: 5px 5px 10px #2B3C78;
    background-color: aliceblue;
}
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
h3 {
    line-height: 3;
}
figcaption {
    text-align: center;
}
button {
    background-color: transparent;
    border-radius: 25px;
    color: #2B3C78;
}
button:hover {
    box-shadow: 5px 5px 10px #2B3C78;
}
fieldset {
    border: none;
}
legend {
    height: 25px;
}
.header,
.footer {
    font-size: 10px;
    text-align: right;
}
.why-poetry {
    display: inline-block;
    width: 49%;
}
hr { /* horizontal rule */
    height: 1px;
    background-color: #2B3C78;
    border-color: #2B3C78;
}
a {
    color: black; /* a or a:link is unvisited link */
}
a:visited {
    color: #2B3C78;
}
a:hover {
    color: black;
}
a:active {
    color: #2B3C78; /* when clicked */
}
.links {
    display: inline-block;
    width: 20%;
}
input {
    background-color: aliceblue;
    border: 1px solid #2B3C78;
}
ul {
    list-style-type: circle;
}